@import "./fonts.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html.custom-cursor-active,
html.custom-cursor-active body,
html.custom-cursor-active * {
  cursor: none !important;
}

body {
  margin: 0;
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
.type-heading {
  font-family: var(--font-heading);
  font-variation-settings: "wght" 400;
  font-synthesis: none;
}

h1 {
  font-variation-settings: "wght" 300;
}
